:root {
  --font-family: "Architects Daughter";
  --font-family-header: "Gagalin";
  --dark: #4f5964;
  --pink: #eacec5;
  --white: white;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Gagalin;
  src: url("./assets/fonts/gagalin.ttf") format("truetype");
}
@font-face {
  font-family: Gagalin;
  font-weight: bold;
  src: url("./assets/fonts/gagalin.ttf") format("truetype");
}

@font-face {
  font-family: "Architects Daughter", cursive;
  font-weight: bold;
  src: url("./assets/fonts/architect.ttf") format("truetype");
}

.gagalin {
  font-family: Gagalin;
}

body {
  width: 100%;
  font-family: "Architects Daughter";
  font-size: 1.3rem;
  color: var(--dark);
}

a {
  text-decoration: none;
  color: var(--dark) !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Gagalin;
  color: var(--dark);
}

p {
  font-size: 0.575em;
}

a {
  color: var(--dark) !important;
}

a:hover {
  cursor: pointer;
}

.primary-bg-hover:hover a {
  background: var(--pink) !important;
}

.header {
  font-size: 1rem !important;
  font-family: helvetica;
}

.primary-bg {
  background: var(--pink) !important;
}

.azla-name {
  font-family: Gagalin;
  font-size: 1rem;
  writing-mode: horizontal-tb;
  line-height: 1;
  color: var(--pink);
}

.carousel-text {
  font-size: 0.3rem;
}

.parallax-height {
  min-height: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.parallax-1 {
  background-image: url("./assets/bg/p1.png");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-height: 300px;
}

.parallax-2 {
  background-image: url("./assets/bg/p2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-3 {
  background-image: url("./assets/bg/p3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-momo-blog {
  background-image: url("./assets/bg/p3.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-footer {
  background-image: url("./assets/bg/pf.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.h-gap {
  min-height: 30vh;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.mt-6 {
  margin-top: 8rem !important;
}

.text-pink {
  color: var(--pink);
}

.text-white {
  color: var(--white) !important;
}

.blog-momo {
  padding-top: 1em;
  background-image: url("./assets/blog/momo_my_best_friend/4_momo_pic.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 50%;
}

.vlog-azla {
  padding-top: 1em;
  background-image: url("./assets/vlog/vlog_journey.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
}

@media (min-width: 700px) {
  /* For Ipad / Tablet    */
  .azla-name {
    font-size: 3rem;
  }
  p {
    font-size: 0.875em;
  }

  .carousel-item > img {
    height: 500px;
  }
  .carousel-text {
    font-size: 1.2rem;
  }
  .stack-img {
    transform: translate(-8vw, -30vh);
  }

  .stack-img > img {
    height: 450px;
  }

  .parallax-height {
    min-height: 500px;
  }

  .mx-5 {
    margin-left: 4rem !important;
    margin-right: 4rem !important;
  }

  .m-5 {
    margin: 4rem !important;
  }
}

@media (min-width: 1000px) {
  /* For larger screen    */
  .stack-img {
    transform: translate(-8vw, -40vh);
  }

  .stack-img > img {
    height: 600px;
  }

  .m-5 {
    margin: 5rem !important;
  }

  .azla-name {
    font-size: 3rem;
}
}

@media screen and (max-width: 500px) {
  /*   For phone  */
  .mx-5 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }

  .stack-img {
    transform: translate(-8vw, -30vh);
  }
}
